# Virtual env
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build/dist
build/
dist/
*.egg-info/

# Logs/temp
*.log
*.tmp

# IDE/editor
.vscode/
.idea/
.DS_Store

# Coverage/test
.coverage
htmlcov/
.pytest_cache/

# Other
*.md